pkgbase = aftershotpro3
	pkgdesc = Corel AfterShot Pro 3 - professional RAW workflow and conversion
	pkgver = 3.7.0.446
	pkgrel = 3
	url = https://www.aftershotpro.com/
	arch = x86_64
	license = LicenseRef-Corel-AfterShot-Pro
	depends = glibc
	depends = qt5-base
	depends = qt5-declarative
	depends = qt5-svg
	depends = qt5-webchannel
	depends = qt5-tools
	depends = libxslt
	depends = gstreamer
	depends = gst-plugins-base-libs
	depends = hyphen
	depends = woff2
	optdepends = ocl-icd: OpenCL support
	optdepends = opencl-nvidia: NVIDIA OpenCL support
	noextract = AfterShotPro3-system-QT.deb
	noextract = libqt5webkit5.deb
	noextract = libicu67.deb
	noextract = libqt5positioning5.deb
	noextract = libqt5sensors5.deb
	noextract = libjpeg62-turbo.deb
	noextract = libwebp6.deb
	noextract = libxml2.deb
	source = AfterShotPro3-system-QT.deb::https://dwnld.aftershotpro.com/trials/3/AfterShotPro3-system-QT.deb
	source = license.txt
	source = libqt5webkit5.deb::https://ftp.debian.org/debian/pool/main/q/qtwebkit-opensource-src/libqt5webkit5_5.212.0~alpha4-11_amd64.deb
	source = libicu67.deb::https://ftp.debian.org/debian/pool/main/i/icu/libicu67_67.1-7_amd64.deb
	source = libqt5positioning5.deb::https://ftp.debian.org/debian/pool/main/q/qtlocation-opensource-src/libqt5positioning5_5.15.2+dfsg-2_amd64.deb
	source = libqt5sensors5.deb::https://ftp.debian.org/debian/pool/main/q/qtsensors-opensource-src/libqt5sensors5_5.15.2-2_amd64.deb
	source = libjpeg62-turbo.deb::https://ftp.debian.org/debian/pool/main/libj/libjpeg-turbo/libjpeg62-turbo_2.0.6-4_amd64.deb
	source = libwebp6.deb::https://ftp.debian.org/debian/pool/main/libw/libwebp/libwebp6_0.6.1-2.1+deb11u2_amd64.deb
	source = libxml2.deb::https://ftp.debian.org/debian/pool/main/libx/libxml2/libxml2_2.9.10+dfsg-6.7+deb11u4_amd64.deb
	sha256sums = 16d58e00b1db9bd17f915496641dc40e6feb48a3e69a5e2ea7f65c97ab733f2e
	sha256sums = b8cd7eb56eea010b9c8b592b3be4c95eed9f7b4b385209a54f9cfa9a33a634e3
	sha256sums = 6ea36a63e079a38afffa539072f19e31a9b9acdb1f68c6d97ca2a1fd18ab301a
	sha256sums = 2bf5c46254f527865bfd6368e1120908755fa57d83634bd7d316c9b3cfd57303
	sha256sums = 84c5a91586c03b8d69358154617b1db443139ae8749196c9a4d70da734c4f1fd
	sha256sums = 31a9e179950b99ce8d8549d1acff69543dfb5abba9bb7767532a91f59c946494
	sha256sums = 28de780a1605cf501c3a4ebf3e588f5110e814b208548748ab064100c32202ea
	sha256sums = 8abc2b1ca77a458bbbcdeb6af5d85316260977370fa2518d017222b3584d9653
	sha256sums = b29ea9026561ef0019a57b8b192bf08f725976cd1dddd3fc6bcf876840350989

pkgname = aftershotpro3
